$accent-color: #2e2e2e;

$text-color: white;
$text-dimmed-color: rgba(211, 211, 211, 255);
$background-color: black;
$text-color: white;

$menu-account-premium-color: #6e6e6e;
$menu-error-color: #fc4130;

$transparency: 0.55;

$border-thing: rgba(white, 0.1);

$shadow-color: black;

$targethud-winning: green;
$targethud-losing: red;
$targethud-draw: orange;

$arraylist-tag-color: #AAAAAA;