$accent-color: #2e2e2e;

$text-color: white;
$text-dimmed-color: rgba(211, 211, 211, 255);
$background-color: black;
$text-color: white;

$menu-account-premium-color: #67D24A;
$menu-error-color: #fc4130;

$transparency: 0.6;

$border-thing: rgba(white, 0.1)